body {
    background-color: rgb(69, 69, 69);
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
    padding: 20px;
    border: white solid 5px;
    margin: 20px 100px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul,
ol {
    color: whitesmoke;
}

.link {
    font-size: 24 px;
    font-weight: 800;
    color: white;
    text-align: right;
    background-color: bisque;
    margin-left: 300px;
}

p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    border: white solid 5px;
    padding: 20px 20px;
    margin: 50px 150px;
}

.recipepar {
    margin: 50px 200px;
}

.first-level {
    border: white solid 5px;
    padding: 20px;
    text-align: center;
    margin: 0px 200px 0px 330px;
}

.desc {
    margin-right: 300px;
}

img {
    height: auto;
    width: 600px;
    padding: 20px 110px;
}